PORT=5000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=truonghavy
DB_NAME=roombookingdb
DB_SSL_MODE=off
# DB_SSL_MODE options: off | insecure | verify-ca
# DB_SSL_CA_PATH=./ca.pem
# DB_SSL_REJECT_UNAUTHORIZED=true

JWT_SECRET=ihrer_super_secret_key_change_me

# SMTP config for OTP email reset
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_email@example.com
SMTP_PASS=your_app_password
SMTP_FROM=IHRER RMS <your_email@example.com>
